<!-- index.html -->
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<head>
<body>
    <!--<h1>&nbsp;&nbsp;&nbsp;&nbsp;赞助&打赏</h1>--> 
    <span style="font-size:70px; color:#ff9900">
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	           赞助&打赏
    </span>
    <br />
    <br />
    <!--{% load staticfiles %} -->
    <div style="width:1100px">
	    <div style="float:left; width:500px;"> 
	    	<p><br /><br /><br /><br /><br /><img src="{% static "images/qiong1_new.jpg" %}" height="488" width="375"></p> 
	    </div>
	    <div style="float:right; width:500px;"> <p><img src="{% static "images/qiong2_new1.jpg" %}" height="510" width="375"></p> </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />
	<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <span style="font-size:40px; color:green">
	    &nbsp;&nbsp; &nbsp;&nbsp;有付出，有回报，有欢乐，感谢您的支持！！！
    </span>
</body>
</html>