<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Book Lists</title>
</head>
<body>
	<p>我的书单</p>
		<table border='2'>
		    <thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Price</th>
					<th>detail</th>
					<th>update</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				{% for number in Goods %}
					<tr>
						<td> {{number.id}} </td>
						<td> {{number.title}} </td>
						<td> {{number.price}} </td>
						<td> {{number.detail}} </td>
						<td> <input type="submit" value="update" /></td>
						<td> <input type="submit" value="delete" /> </td>
					</tr>
				{% endfor %}
			</tbody>	
		</table>
		
		
		<table border='2'>
		    <thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Price</th>
					<th>detail</th>
					<th>update</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				{% for number in Goods %}
					<tr>
						<td><input value= {{number.id}} /> </td>
						<td><input value= {{number.title}} /> </td>
						<td><input value= {{number.price}} /> </td>
						<td><input value= {{number.detail}} /> </td>
						<td> <input type="submit" value="update" /></td>
						<td> <form action="/table/" method="POST">{% csrf_token %}
							<input type="submit" name = {{number.id}} value= "delete"/> 
							</form> 
						</td>
					</tr>
				{% endfor %}
			</tbody>	
		</table>
		
		<p> id title price desc unit picture detail isdelete </p>
		<form action="/tableadd/" method="post"> {% csrf_token %}
			<input type="id" name="id" value="10"/>
			<input type="text" name="title" value="title"/>
			<input type="text" name="price" value="10"/>
			<input type="text" name="desc" value = "desc"/>
			</Br>
			<input type="text" name="unit" value = "unit" />
			<input type="text" name="picture" value = "picture" />
			<input type="text" name="detail" value ="detail" />
			<input type="text" name="isdelete" value="1"/>
			<input type="submit" value="submit">
		</form>
</body>
</html>